<div class="about-section">
  <h1>About Us</h1>
  <h2>Our Guide/Co-ordinator :</h2>
  <h3>Prof. Sapana S. Yakkundi</h3><br>
  <h4>It is an open, freely available resource that helps you solve your plant related questions.</h4>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../assets/profile.png" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Bhakti C</h2>
        <p>2JR18CS011</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/profile.png" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Praveen Ukkoji</h2>
        <p>2JR18CS051</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../../assets/profile.png" alt="John" style="width:100%">
      <div class="container">
        <h2>Shivani S</h2>
        <p>2JR18CS068</p>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
      <img src="../../assets/profile.png" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Vishal Barale</h2>
        <p>2JR19CS437</p>
      </div>
    </div>
  </div>
</div>

